@import '../../MainStyles/Colors.scss';
@import '../../MainStyles/Breakpoints.scss';



container{
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    h3{
        font-weight: 400;
    }

    h2{
        color: $secondary;

    }
}

.logo{
    text-align: center;
}
.wrapText{
    overflow-wrap: break-word;
}

.rollSection{
    width: 70%;
    margin: auto;


}

.cardSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}



.card{
    width: 150px;
    height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.whoAreYou{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    
    h3{
       border-bottom: 5px solid $secondary; 
    }
}


.cardImage{
    margin-bottom: 25px;
    
    img{
        width: 100%;
        height: auto;
    }
}




@media #{breakpoint(md)}{
    .cardSection{
        flex-direction: row;

    }

    .card{
        width: 200px;
        height: 250px;
        padding: 20px;
    }
}



