DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_DIALECT=
DB_LOGGING=
SYNC=
JWT_SECRET_KEY=

FRONTEND_URL =


NODE_ENV=




# DB_USERNAME=
# DB_PASSWORD=
# DB_DATABASE=
# DB_HOST=
# DB_DIALECT=
# NODE_ENV=
# FRONTEND_URL=
# JWT_SECRET_KEY=
# SYNC=
# DB_LOGGING=


MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


MAIL_HOST =
MAIL_USER =
MAIL_PASS =