@import '../../MainStyles/global.scss';
@import '../../MainStyles/Colors.scss';
.Container{
    max-width: 300px;
    height: 300px;
    box-shadow: $cardShadow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titleArea{
    flex: 10%;
    border-bottom: 2px solid $light-grey;
    padding: 10px;
}

.contentArea{
    flex:80%;
}