@import '../../MainStyles/Colors.scss';

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type : none;
}


.sidebarContainer{
    // stick navbar to left
    position:fixed;
    top:0;
    left:0;
    height: 100vh;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.inActive{
   width: 6%;
   transition: 0.52s;

}

.active{
    min-width: 220px;
    transition: 0.52s;
}

.hidden{
    display: none;
}


.itemsContainer{
    margin-top: 1.5rem;
    padding:0px 15px;
}


.userIcon{
    background-color: $secondary;
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.avatarImage{
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.userItem{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    
}

.userRole{
    color:$light-grey;
}



.item {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; // ✨ added
  }
  

.item:hover{
    // background-color: $nav-active;
    border-radius: 10px;
    color:$tertiary-active;
    transform: scale(1.03); 
}
.activeItem{
    padding: 5px;
    border-radius: 10px;
    color:$medium-grey;
    background-color: $nav-active;
}

.ItemCloseMenu{
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.ItemOpenMenu{
    justify-content: flex-start;
    p{
        transition: transform 300ms ease-in-out;
    }
    p:hover{
        transform: scale(1.02);
        border-radius: 10px;
    }
}

.activeSubOption{
    background-color: $secondary;
    border-radius: 5px;
}

.Settings{
    margin-bottom: 50px;
    padding: 5px;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  