@import '../../../MainStyles/global.scss';

.searchArea{
    width: 80%;
    display: flex;
    justify-content: center;
}


.container{

    width: 700px;
    min-height: 350px;
    box-shadow: $cardShadow;
    border-radius: 0.5rem;
    padding:2rem;
    display: flex;
    row-gap: 0px;
    column-gap: 25px;
    flex-wrap: wrap;
}

.buttonArea{
    flex-basis: 100%;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

