@import '../../../../MainStyles/Colors.scss';


.Header{
    flex-basis: 100%;
    margin-bottom: 35px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}



.uploadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.uploadArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    border:2px dashed $secondary;
    color: $secondary;
}


.myFile{
    display: none;
}

.duplicateTable{
    display: flex;
    flex-direction: column;
    color:$medium-grey;
    h3{
        font-weight: 500;
    }

    .buttonArea{
        display: flex;
        margin-top: 25px;
        justify-content: center;
        align-items: center;
    }
}


.drag{
    background-color: rgb(199, 230, 241);
}

.uploadInfoAccord{
    flex-basis: 100%;
    margin-top: 25px;
}