//breakpoints layout system

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@function breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      $width: map-get($breakpoints, $breakpoint);
      @return "screen and (min-width: #{ $width })";
    } @else {
      @warn "Undefined breakpoint: #{$breakpoint}.";
      @return null;
    }
  }