$primary : #131133;
$secondary : #5F57FF;
$tertiary : #33CFFF;
$tertiary-active : #8fe5ff; 

//text color
$light-grey: #757575;
$medium-grey: #555555;
$dark-grey: #333333;
$very-dark-grey: #222222;


//navbar
$nav-active: #EDF1FE;